<main class="site-main">
    <section class="site-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 site-title">
                    <h3 class="title-text animate__animated animate__slideInLeft animate__slow animate__repeat-2">Hey </h3>
                    <h1 class="title-text text-uppercase animate__animated animate__slideInUp animate__slow animate__repeat-2">I am Shyam Prakash </h1>
                    <h4 class="title-text text-uppercase animate__animated animate__slideInLeft animate__slow animate__repeat-2">Full Stack Techno Functional Consultant</h4>
                    <div class="site-buttons">
                        <div class="d-flex flex-row flex-wrap animate__animated animate__flip animate__slow animate__repeat-2">
                            <button type="button" class="btn btn-primary button primary-button mr-4 text-uppercase">hire
                        me</button>
                            <button type="button" class="btn button  secondary-button text-uppercase">Get cv</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 banner-image animate__animated animate__slideInRight animate__repeat-2 animate__slow">
                    <img src="/assets/img/banner-image.png" alt="banner-img" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <!--  ======================= End Banner Area =======================  -->

</main>
